/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* font include*/
/* font include*/
/*colors-included*/
/*colors-included*/
/*font-include*/
/* font-include*/
/* line 37, ../sass/screen.scss */
body, html {
  height: auto !important;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  /* line 44, ../sass/screen.scss */
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 49, ../sass/screen.scss */
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 768px) {
  /* line 55, ../sass/screen.scss */
  .mobile-only-btn {
    display: none !important;
  }
}

@media (max-width: 767px) {
  /* line 60, ../sass/screen.scss */
  .desktop-only-btn {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 69, ../sass/screen.scss */
  header .desktop-menu {
    display: none !important;
  }
}
@media (min-width: 992px) {
  /* line 75, ../sass/screen.scss */
  .ui.left.vertical.menu.sidebar.hidden.overlay.visible, .mobile-logo, .mobile-btn {
    display: none !important;
  }
}
/* line 80, ../sass/screen.scss */
.hero-background {
  min-height: 634px;
  width: 100%;
  background-size: cover;
}
@media (min-width: 1200px) {
  /* line 80, ../sass/screen.scss */
  .hero-background {
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
@media (min-height: 1100px) {
  /* line 80, ../sass/screen.scss */
  .hero-background {
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
@media (max-height: 640px) {
  /* line 80, ../sass/screen.scss */
  .hero-background {
    min-height: 636px;
    height: 636px;
  }
}
/* line 96, ../sass/screen.scss */
.hero-background .hero-text-wrap {
  min-height: 634px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1200px) {
  /* line 96, ../sass/screen.scss */
  .hero-background .hero-text-wrap {
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
@media (min-height: 1100px) {
  /* line 96, ../sass/screen.scss */
  .hero-background .hero-text-wrap {
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
@media (max-height: 640px) {
  /* line 96, ../sass/screen.scss */
  .hero-background .hero-text-wrap {
    min-height: 636px;
    height: 636px;
  }
}
/* line 122, ../sass/screen.scss */
.hero-background .hero-text-wrap h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  /* line 122, ../sass/screen.scss */
  .hero-background .hero-text-wrap h1 {
    max-width: 723px;
  }
}
@media (max-width: 991px) {
  /* line 122, ../sass/screen.scss */
  .hero-background .hero-text-wrap h1 {
    max-width: calc(100% - 50px);
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    text-align: center;
    color: #fff;
  }
}
@media (max-width: 480px) {
  /* line 122, ../sass/screen.scss */
  .hero-background .hero-text-wrap h1 {
    font-size: 24px;
  }
}
/* line 149, ../sass/screen.scss */
.hero-background .hero-text-wrap .sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  /* line 149, ../sass/screen.scss */
  .hero-background .hero-text-wrap .sub-header {
    max-width: 626px;
  }
}
@media (max-width: 991px) {
  /* line 149, ../sass/screen.scss */
  .hero-background .hero-text-wrap .sub-header {
    max-width: calc(100% - 50px);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    text-align: center;
    color: #fff;
  }
}
@media (max-width: 480px) {
  /* line 149, ../sass/screen.scss */
  .hero-background .hero-text-wrap .sub-header {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  /* line 185, ../sass/screen.scss */
  .main-slider .owl-carousel .item {
    min-height: 602px;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}
@media (max-width: 991px) {
  /* line 185, ../sass/screen.scss */
  .main-slider .owl-carousel .item {
    min-height: 580px;
    padding: 40px 0;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}
@media (max-width: 991px) {
  /* line 201, ../sass/screen.scss */
  .main-slider .owl-nav {
    display: none;
  }
}

/* line 208, ../sass/screen.scss */
.slider-text-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  /* line 208, ../sass/screen.scss */
  .slider-text-wrap {
    min-height: 602px;
  }
}
@media (max-width: 991px) {
  /* line 208, ../sass/screen.scss */
  .slider-text-wrap {
    min-height: 580px;
  }
}
/* line 227, ../sass/screen.scss */
.slider-text-wrap h2 {
  color: #589a03;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  display: block;
}
@media (min-width: 992px) {
  /* line 227, ../sass/screen.scss */
  .slider-text-wrap h2 {
    max-width: 789px;
    margin-bottom: 82px;
  }
}
@media (max-width: 991px) {
  /* line 227, ../sass/screen.scss */
  .slider-text-wrap h2 {
    max-width: 343px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 37px;
  }
}
/* line 252, ../sass/screen.scss */
.slider-text-wrap .slider-descript {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 252, ../sass/screen.scss */
  .slider-text-wrap .slider-descript {
    max-width: 745px;
  }
}
@media (max-width: 991px) {
  /* line 252, ../sass/screen.scss */
  .slider-text-wrap .slider-descript {
    max-width: 354px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 46px;
  }
}

/* line 281, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

/* line 289, ../sass/screen.scss */
section.field-data-icons {
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 289, ../sass/screen.scss */
  section.field-data-icons {
    padding: 75px 0;
  }
}
@media (max-width: 991px) {
  /* line 289, ../sass/screen.scss */
  section.field-data-icons {
    padding: 41px 0;
  }
}
/* line 297, ../sass/screen.scss */
section.field-data-icons .data-field-header {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  text-align: center;
  color: #589a03;
}
@media (min-width: 992px) {
  /* line 297, ../sass/screen.scss */
  section.field-data-icons .data-field-header {
    max-width: 616px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
@media (max-width: 991px) {
  /* line 297, ../sass/screen.scss */
  section.field-data-icons .data-field-header {
    max-width: 294px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
/* line 326, ../sass/screen.scss */
section.field-data-icons .data-field-subheader {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 55px;
}
@media (max-width: 639px) {
  /* line 326, ../sass/screen.scss */
  section.field-data-icons .data-field-subheader {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.5px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 18px;
  }
}

/* line 351, ../sass/screen.scss */
.single-data-wrap .single-data-img img {
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 109px;
}
@media (min-width: 992px) {
  /* line 351, ../sass/screen.scss */
  .single-data-wrap .single-data-img img {
    height: 89px;
  }
}
@media (max-width: 639px) {
  /* line 350, ../sass/screen.scss */
  .single-data-wrap .single-data-img {
    float: left;
    width: 25%;
    margin-right: 5%;
  }
  /* line 364, ../sass/screen.scss */
  .single-data-wrap .single-data-img img {
    margin: 0;
    text-align: left;
    width: 110px;
    height: auto;
    max-width: 100%;
  }
}
/* line 374, ../sass/screen.scss */
.single-data-wrap .single-data-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}
/* line 385, ../sass/screen.scss */
.single-data-wrap .single-data-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 639px) {
  /* line 373, ../sass/screen.scss */
  .single-data-wrap .single-data-text {
    float: left;
    width: 70%;
  }
  /* line 398, ../sass/screen.scss */
  .single-data-wrap .single-data-text h4 {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.5px;
    max-width: 103px;
    text-align: left;
    margin-bottom: 10px;
  }
  /* line 408, ../sass/screen.scss */
  .single-data-wrap .single-data-text p {
    max-width: 231px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: left;
  }
}

/* line 422, ../sass/screen.scss */
.agritask-for-single img {
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  /* line 422, ../sass/screen.scss */
  .agritask-for-single img {
    width: 140px;
    height: auto;
  }
}
@media (min-width: 992px) {
  /* line 422, ../sass/screen.scss */
  .agritask-for-single img {
    width: auto;
    height: 130px;
    max-width: 100%;
  }
}
/* line 434, ../sass/screen.scss */
.agritask-for-single h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 19px;
}
@media (max-width: 991px) {
  /* line 434, ../sass/screen.scss */
  .agritask-for-single h4 {
    max-width: 441px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 19px;
  }
}
/* line 453, ../sass/screen.scss */
.agritask-for-single ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* line 467, ../sass/screen.scss */
.agritask-for-wrap .row {
  padding: 0 !important;
}
@media (min-width: 992px) {
  /* line 470, ../sass/screen.scss */
  .agritask-for-wrap .column {
    min-height: 422.8px;
    padding: 74px 0;
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
}
@media (max-width: 991px) {
  /* line 470, ../sass/screen.scss */
  .agritask-for-wrap .column {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
}
/* line 481, ../sass/screen.scss */
.agritask-for-wrap .column.light-gray-back {
  background-color: rgba(239, 239, 239, 0.4);
}
/* line 484, ../sass/screen.scss */
.agritask-for-wrap .column.darker-gray-back {
  background: #f2f2f2;
}
@media (max-width: 767px) {
  /* line 488, ../sass/screen.scss */
  .agritask-for-wrap .column:nth-child(even) {
    background-color: #f2f2f2 !important;
  }
  /* line 491, ../sass/screen.scss */
  .agritask-for-wrap .column:nth-child(odd) {
    background-color: rgba(239, 239, 239, 0.4) !important;
  }
}

@media (min-width: 768px) {
  /* line 498, ../sass/screen.scss */
  .img-with-text {
    padding: 145px 0;
  }
}
@media (max-width: 767px) {
  /* line 498, ../sass/screen.scss */
  .img-with-text {
    padding: 30px 0;
  }
}
/* line 505, ../sass/screen.scss */
.img-with-text .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
@media (max-width: 767px) {
  /* line 505, ../sass/screen.scss */
  .img-with-text .container {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* line 521, ../sass/screen.scss */
.img-with-text .text-block {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
/* line 533, ../sass/screen.scss */
.img-with-text .img-block {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  min-height: 464.6px;
  width: 100%;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
}
@media (min-width: 438px) and (max-width: 767px) {
  /* line 533, ../sass/screen.scss */
  .img-with-text .img-block {
    background-position: 0px 0px, 50% 50%;
  }
}
@media (max-width: 768px) {
  /* line 533, ../sass/screen.scss */
  .img-with-text .img-block {
    min-height: 250px;
    display: block !important;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
}
@media (min-width: 769px) {
  /* line 533, ../sass/screen.scss */
  .img-with-text .img-block {
    -ms-flex: 1.7;
    -webkit-flex: 1.7;
    flex: 1.7;
  }
}
/* line 565, ../sass/screen.scss */
.img-with-text.left-img {
  background: #f2f2f2;
}
/* line 567, ../sass/screen.scss */
.img-with-text.left-img .text-block {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
/* line 572, ../sass/screen.scss */
.img-with-text.left-img .img-block {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
@media (max-width: 767px) {
  /* line 578, ../sass/screen.scss */
  .img-with-text.left-img .text-block {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  /* line 583, ../sass/screen.scss */
  .img-with-text.left-img .img-block {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}
/* line 592, ../sass/screen.scss */
.img-with-text .text-block h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #589a03;
}
@media (max-width: 767px) {
  /* line 592, ../sass/screen.scss */
  .img-with-text .text-block h3 {
    max-width: 396px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
  }
}
/* line 610, ../sass/screen.scss */
.img-with-text .text-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  color: #000;
  margin-top: 27px;
}
@media (max-width: 767px) {
  /* line 610, ../sass/screen.scss */
  .img-with-text .text-block p {
    max-width: 392px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    text-align: center;
    margin-bottom: 15px;
  }
}
/* line 630, ../sass/screen.scss */
.img-with-text .text-block a {
  width: 278px;
  height: 54px;
  border-radius: 2px;
  border: solid 2px #589a03;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #589a03;
  padding: 19px 39px;
  display: block;
  text-transform: uppercase;
  margin-top: 36px;
}
@media (max-width: 767px) {
  /* line 630, ../sass/screen.scss */
  .img-with-text .text-block a {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 50px;
  }
}

/* line 663, ../sass/screen.scss */
a.request-demo {
  width: 278px;
  height: 54px;
  border-radius: 2px;
  border: solid 2px #589a03;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #589a03;
  padding: 19px 39px;
  display: block;
  text-transform: uppercase;
  margin-top: 36px;
}
@media (max-width: 767px) {
  /* line 663, ../sass/screen.scss */
  a.request-demo {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 50px;
  }
}

/* line 694, ../sass/screen.scss */
.text-banner {
  min-height: 602px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
@media (max-width: 991px) {
  /* line 694, ../sass/screen.scss */
  .text-banner {
    min-height: 479px;
  }
}
/* line 702, ../sass/screen.scss */
.text-banner .text-banner-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 602px;
}
@media (max-width: 991px) {
  /* line 702, ../sass/screen.scss */
  .text-banner .text-banner-wrap {
    min-height: 479px;
  }
}
/* line 719, ../sass/screen.scss */
.text-banner .text-banner-wrap h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  /* line 719, ../sass/screen.scss */
  .text-banner .text-banner-wrap h2 {
    max-width: 824px;
  }
}
@media (max-width: 991px) {
  /* line 719, ../sass/screen.scss */
  .text-banner .text-banner-wrap h2 {
    max-width: 368px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
  }
}
/* line 742, ../sass/screen.scss */
.text-banner .text-banner-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: center;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 742, ../sass/screen.scss */
  .text-banner .text-banner-wrap p {
    max-width: 764px;
  }
}

/* line 760, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
@media (max-width: 991px) {
  /* line 760, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
  }
}
/* line 776, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block {
  -ms-flex: 50%;
  -webkit-flex: 50%;
  flex: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  max-height: 100%;
}
@media screen and (max-width: 991px) {
  /* line 776, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block {
    padding-bottom: 50px;
  }
}
/* line 791, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
}
@media (min-width: 992px) {
  /* line 791, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
    max-width: 392px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  /* line 791, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
    max-width: 392px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
/* line 819, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  text-align: center;
  color: #000;
}
@media (min-width: 992px) {
  /* line 819, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
    max-width: 343.8px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
  }
}
@media (max-width: 991px) {
  /* line 819, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
    max-width: calc(100% - 50px);
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
/* line 847, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
  display: block;
  width: 278px;
  border-radius: 2px;
  background-color: #ff9600;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  padding: 19px 39px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 847, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
    max-width: 278px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 49px;
  }
}
@media (max-width: 991px) {
  /* line 847, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
    max-width: 278px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 49px;
  }
}
/* line 878, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
  -ms-flex: 50%;
  -webkit-flex: 50%;
  flex: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  min-height: 464.6px;
  width: 100%;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  max-height: 100%;
}
@media (min-width: 992px) {
  /* line 878, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
    min-height: 668px;
  }
}
@media (max-width: 991px) {
  /* line 878, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
    /* display: none !important;*/
    clear: both;
    overflow: hidden;
  }
}
/* line 906, ../sass/screen.scss */
.teaser-with-text-wrap.left-img .teaser-img-block {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
/* line 911, ../sass/screen.scss */
.teaser-with-text-wrap.left-img .teaser-text-block {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
@media (max-width: 991px) {
  /* line 917, ../sass/screen.scss */
  .teaser-with-text-wrap.left-img .teaser-img-block {
    -ms-flex-order: 1;
    -webkit-order: 2;
    order: 2;
  }
  /* line 922, ../sass/screen.scss */
  .teaser-with-text-wrap.left-img .teaser-text-block {
    -ms-flex-order: 2;
    -webkit-order: 1;
    order: 1;
  }
}
@media (min-width: 992px) {
  /* line 931, ../sass/screen.scss */
  .teaser-with-text-wrap.about-us .teaser-text-flex-wrap .teaser-text-block p {
    max-width: 454px;
  }
}

/* line 938, ../sass/screen.scss */
.single-team-user-wrap {
  margin-bottom: 25px;
}
/* line 939, ../sass/screen.scss */
.single-team-user-wrap img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}
/* line 950, ../sass/screen.scss */
.single-team-user-wrap:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.2s ease-in-out;
}
/* line 956, ../sass/screen.scss */
.single-team-user-wrap h5 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-top: 14px;
}
/* line 969, ../sass/screen.scss */
.single-team-user-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  text-align: center;
  color: #000;
}

@media (min-width: 992px) {
  /* line 982, ../sass/screen.scss */
  .our-team {
    padding: 67px 0;
  }
}
/* line 986, ../sass/screen.scss */
.our-team h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
  display: block;
  margin-bottom: 42px;
}

/* line 1002, ../sass/screen.scss */
.agritask-header-outside {
  width: 100%;
  padding: 56px 0;
}
@media (max-width: 991px) {
  /* line 1002, ../sass/screen.scss */
  .agritask-header-outside {
    padding: 22px 0;
  }
}
/* line 1008, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
@media (min-width: 992px) {
  /* line 1008, ../sass/screen.scss */
  .agritask-header-outside .agritask-header-wrapper {
    max-width: 311px;
  }
}
/* line 1016, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper .agritask-for-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 1029, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper .agritask-for-header img {
  height: 55.5px;
  margin-right: 15px;
  max-width: 100%;
}
@media (max-width: 991px) {
  /* line 1029, ../sass/screen.scss */
  .agritask-header-outside .agritask-header-wrapper .agritask-for-header img {
    height: 40.4px;
  }
}
/* line 1037, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper .agritask-for-header mark {
  background-color: #fff;
  font-size: 46px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 48px;
  color: #589a03;
}
@media (max-width: 991px) {
  /* line 1037, ../sass/screen.scss */
  .agritask-header-outside .agritask-header-wrapper .agritask-for-header mark {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 33px;
    text-align: center;
  }
}

/* line 1057, ../sass/screen.scss */
footer {
  background-color: #414141;
  padding: 43px 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  /* line 1057, ../sass/screen.scss */
  footer {
    padding: 17px 0;
  }
}
/* line 1064, ../sass/screen.scss */
footer .copyright {
  display: block;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.1px;
  text-align: center;
  color: #fff;
  margin-top: 34px;
  font-weight: 300;
}
@media (max-width: 991px) {
  /* line 1064, ../sass/screen.scss */
  footer .copyright {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #fff;
    padding-left: .92857143em;
    margin-top: 20px;
    position: relative;
  }
  /* line 1088, ../sass/screen.scss */
  footer .copyright:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    border-top: solid 1px #5b5b5b;
    left: -16px;
    top: -16px;
  }
}
/* line 1100, ../sass/screen.scss */
footer .sitemap-menu a.item {
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  letter-spacing: 0.9px !important;
  text-align: left !important;
  color: #fff !important;
}
/* line 1109, ../sass/screen.scss */
footer .sitemap-menu a.item:hover {
  background: transparent !important;
}
@media (max-width: 991px) {
  /* line 1099, ../sass/screen.scss */
  footer .sitemap-menu {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 1117, ../sass/screen.scss */
  footer .sitemap-menu a.item {
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    text-align: left !important;
    color: #fff !important;
    -webkit-align-self: flex-start !important;
    -ms-flex-item-align: flex-start !important;
    align-self: flex-start !important;
    position: relative;
  }
  /* line 1128, ../sass/screen.scss */
  footer .sitemap-menu a.item:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    border-bottom: solid 1px #5b5b5b;
    left: -16px;
    bottom: 0px;
  }
  /* line 1138, ../sass/screen.scss */
  footer .sitemap-menu div.right.menu {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 0 !important;
  }
}

@media (max-width: 991px) {
  /* line 1148, ../sass/screen.scss */
  footer .ui.menu:not(.vertical) .right.menu {
    margin-left: 0 !important;
  }
  /* line 1152, ../sass/screen.scss */
  footer .ui.menu:not(.vertical) .right.menu a.item:after {
    width: 0;
    height: 0;
  }
}

/* line 1161, ../sass/screen.scss */
.main-menu {
  margin-top: 0 !important;
  position: fixed;
  width: 100%;
}
/* line 1165, ../sass/screen.scss */
.main-menu a.item {
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  letter-spacing: 0.9px !important;
  text-align: left !important;
  color: #fff !important;
  text-transform: uppercase !important;
}
/* line 1177, ../sass/screen.scss */
.main-menu .logo a {
  display: block;
  overflow: hidden;
}
/* line 1180, ../sass/screen.scss */
.main-menu .logo a img {
  max-width: 100%;
  width: 125px;
  height: auto;
}

/* line 1189, ../sass/screen.scss */
.slider-user-comment-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}
@media screen and (max-width: 992px) {
  /* line 1189, ../sass/screen.scss */
  .slider-user-comment-wrap {
    margin-bottom: 58px;
  }
}
/* line 1203, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user {
  margin-right: 23px;
}
@media screen and (max-width: 992px) {
  /* line 1203, ../sass/screen.scss */
  .slider-user-comment-wrap .slider-user {
    margin-right: 16px;
  }
  /* line 1207, ../sass/screen.scss */
  .slider-user-comment-wrap .slider-user img {
    width: 55px;
    height: 55px;
  }
}
/* line 1213, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user-comment {
  color: #fff;
  text-align: left;
}
/* line 1217, ../sass/screen.scss */
.slider-user-comment-wrap h5 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
/* line 1224, ../sass/screen.scss */
.slider-user-comment-wrap p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 24px;
}

/* line 1233, ../sass/screen.scss */
.owl-nav .owl-prev {
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -20.5px;
}
/* line 1239, ../sass/screen.scss */
.owl-nav .owl-prev:after {
  content: '';
  position: absolute;
  background-image: url("../images/arrow_left.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 21px;
  height: 41px;
}
/* line 1252, ../sass/screen.scss */
.owl-nav .owl-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: -20.5px;
}
/* line 1258, ../sass/screen.scss */
.owl-nav .owl-next:after {
  content: '';
  position: absolute;
  background-image: url("../images/arrow_right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 21px;
  height: 41px;
}

/* line 1273, ../sass/screen.scss */
.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #589a03;
}

/* line 1276, ../sass/screen.scss */
.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 54.3px;
  margin-left: -40.03px;
}
@media screen and (max-width: 992px) {
  /* line 1276, ../sass/screen.scss */
  .owl-dots {
    left: 50%;
    margin-left: -67.5px;
  }
}

/* line 1286, ../sass/screen.scss */
.owl-dots .owl-dot span {
  width: 12.7px;
  height: 12.7px;
  margin: 5px 19px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  /* line 1286, ../sass/screen.scss */
  .owl-dots .owl-dot span {
    /* margin-right:38.8px;*/
    margin: 0 auto;
  }
}

/* line 1301, ../sass/screen.scss */
.owl-dots .owl-dot {
  display: inline-block;
  width: 30px;
  zoom: 1;
}
@media screen and (max-width: 991px) {
  /* line 1301, ../sass/screen.scss */
  .owl-dots .owl-dot {
    width: 45px;
  }
}

/* line 1310, ../sass/screen.scss */
.pushable-scroll {
  -webkit-transform: initial !important;
  -ms-transform: initial !important;
  transform: initial !important;
}

/* line 1316, ../sass/screen.scss */
.scroll-logo {
  display: none;
}

/* line 1320, ../sass/screen.scss */
.main-menu {
  background: rgba(255, 255, 255, 0);
  transition: all 0.15s ease-in-out;
  margin: 0 !important;
  width: 100vw;
}

/* line 1327, ../sass/screen.scss */
.main-menu-scroll {
  background: white !important;
  transition: all 0.15s ease-in-out;
  z-index: 9999;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 !important;
  border-bottom: 1px solid #CCCCCC !important;
}
/* line 1337, ../sass/screen.scss */
.main-menu-scroll a.item {
  color: #7a7a7a !important;
}
/* line 1341, ../sass/screen.scss */
.main-menu-scroll .logo img {
  display: none;
}
/* line 1343, ../sass/screen.scss */
.main-menu-scroll .logo img.scroll-logo {
  display: block;
}

/* line 1351, ../sass/screen.scss */
.slide-bottom {
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  /* line 1351, ../sass/screen.scss */
  .slide-bottom {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 1361, ../sass/screen.scss */
  .mobile-logo {
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 30px;
  }
  /* line 1367, ../sass/screen.scss */
  .mobile-logo img {
    width: 124px;
    height: auto;
  }
}

@media (max-width: 991px) {
  /* line 1374, ../sass/screen.scss */
  header {
    padding: 16px 0;
    overflow: hidden;
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 999;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #CCCCCC;
  }
}
@media (max-width: 320px) {
  /* line 1374, ../sass/screen.scss */
  header {
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* line 1393, ../sass/screen.scss */
  .mobile-btn {
    display: block;
    height: 16px;
    width: 32px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -16px;
  }
  /* line 1402, ../sass/screen.scss */
  .mobile-btn i {
    font-size: 30px;
    color: #8b8c8c;
  }
}

/* line 1421, ../sass/screen.scss */
.hero-btn-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 992px) {
  /* line 1421, ../sass/screen.scss */
  .hero-btn-wrap {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 329.9px;
    height: auto;
  }
}
@media screen and (max-width: 380px) {
  /* line 1421, ../sass/screen.scss */
  .hero-btn-wrap {
    width: calc(100% - 20px) !important;
  }
}
/* line 1436, ../sass/screen.scss */
.hero-btn-wrap .standart-btn {
  width: 178.5px;
  height: 54px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 19px 30.5px 18px 30px;
  border: solid 2px rgba(255, 255, 255, 0.79);
  border-radius: 3px;
  color: #fff;
}
/* line 1449, ../sass/screen.scss */
.hero-btn-wrap .standart-btn:first-child {
  margin-right: 18px;
}
@media screen and (max-width: 992px) {
  /* line 1436, ../sass/screen.scss */
  .hero-btn-wrap .standart-btn {
    width: 100%;
    height: auto;
    padding: 20.7px 55.7px 19.7px 56.2px;
    text-align: center;
  }
  /* line 1457, ../sass/screen.scss */
  .hero-btn-wrap .standart-btn:first-child {
    margin-right: 0;
    margin-top: 22.7px;
    width: 100%;
    height: auto;
    padding: 20.7px 80px 19.7px 79px;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media screen and (max-width: 380px) {
  /* line 1436, ../sass/screen.scss */
  .hero-btn-wrap .standart-btn {
    font-size: 12px;
  }
}
/* line 1472, ../sass/screen.scss */
.hero-btn-wrap .active {
  width: 278px;
  height: 54px;
  padding: 19px 66px 18px 68px;
  background-color: #ff9600;
  border: solid 2px #ff9600;
}

/* line 1482, ../sass/screen.scss */
.wrapper-sinup-btns {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 576px;
}
/* line 1487, ../sass/screen.scss */
.wrapper-sinup-btns .signup-btns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto;
}
@media screen and (max-width: 639px) {
  /* line 1487, ../sass/screen.scss */
  .wrapper-sinup-btns .signup-btns {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
/* line 1504, ../sass/screen.scss */
.wrapper-sinup-btns .signup-btns a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.9px;
  color: #4a4a4a;
  text-transform: uppercase;
  width: 278px;
  height: 54px;
  padding: 19px 39px 18px 39px;
  text-align: center;
  border-radius: 2px;
  border: solid 2px #a3a3a3;
  transition: all 0.25s ease-in-out;
}
/* line 1518, ../sass/screen.scss */
.wrapper-sinup-btns .signup-btns a:hover {
  color: #fff;
  background-color: #ff9600;
  border: solid 2px #ff9600;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 991px) {
  /* line 1525, ../sass/screen.scss */
  .wrapper-sinup-btns .signup-btns a:first-child {
    margin-bottom: 20px;
  }
}

/* line 1533, ../sass/screen.scss */
.right.menu .sign-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}
/* line 1538, ../sass/screen.scss */
.right.menu .sign-buttons .item.sign {
  width: 103px;
  height: 39px;
  padding-left: 20px;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.79);
  transition: all 0.25s ease-in-out;
}
/* line 1545, ../sass/screen.scss */
.right.menu .sign-buttons .item.sign:hover, .right.menu .sign-buttons .item.sign.active {
  background-color: #ff9600;
  border: 2px solid #ff9600 !important;
  transition: all 0.25s ease-in-out;
  color: #fff !important;
}
/* line 1551, ../sass/screen.scss */
.right.menu .sign-buttons .item.sign:last-child {
  margin-left: 13px;
}

/* line 1558, ../sass/screen.scss */
.main-menu-scroll {
  background: white !important;
  transition: all 0.25s ease-in-out;
  z-index: 9999;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 !important;
}
/* line 1567, ../sass/screen.scss */
.main-menu-scroll .sign-buttons {
  margin-bottom: 3px !important;
}
/* line 1569, ../sass/screen.scss */
.main-menu-scroll .sign-buttons .item.sign:not(.active) {
  border: 2px solid #a3a3a3 !important;
  border-radius: 2px;
}
/* line 1574, ../sass/screen.scss */
.main-menu-scroll a.item:not(.sign) {
  background-color: transparent !important;
  color: #589a03 !important;
  border-radius: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 3px solid transparent !important;
}
/* line 1581, ../sass/screen.scss */
.main-menu-scroll a.item:not(.sign):hover {
  border-bottom: 3px solid #589a03 !important;
  background-color: #fff !important;
  color: #589a03 !important;
  border-radius: 0;
  padding-top: 26px;
  padding-bottom: 26px;
}
/* line 1589, ../sass/screen.scss */
.main-menu-scroll a.item:not(.sign):hover:not(.sign) {
  background-color: #fff;
  color: #589a03 !important;
}
/* line 1593, ../sass/screen.scss */
.main-menu-scroll a.item:not(.sign).active:not(.sign) {
  background-color: transparent !important;
  color: #589a03 !important;
  border-bottom: 3px solid #589a03;
  border-radius: 0;
  padding-top: 26px;
  padding-bottom: 26px;
}
/* line 1604, ../sass/screen.scss */
.main-menu-scroll .logo img {
  display: none;
}
/* line 1606, ../sass/screen.scss */
.main-menu-scroll .logo img.scroll-logo {
  display: block;
}

@media screen and (max-width: 991px) {
  /* line 1616, ../sass/screen.scss */
  .mobile-menu {
    padding-top: 60px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  /* line 1620, ../sass/screen.scss */
  .mobile-menu a.item {
    padding: 22px 20px !important;
    text-transform: uppercase !important;
    font-family: "Lato", sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    letter-spacing: 1.1px !important;
    color: #7a7a7a !important;
  }
  /* line 1630, ../sass/screen.scss */
  .mobile-menu a.item.active, .mobile-menu a.item:hover {
    background: transparent !important;
  }
  /* line 1634, ../sass/screen.scss */
  .mobile-menu a.item:last-child:before {
    height: 0 !important;
    width: 0 !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 1650, ../sass/screen.scss */
  body main section.our-team div.ui.container .ui.grid.column div.column {
    width: 100% !important;
  }
}

/* line 1660, ../sass/screen.scss */
.main-menu-scroll {
  width: 100vw;
}
/* line 1662, ../sass/screen.scss */
.main-menu-scroll .ui.container {
  width: 100vw !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media only screen and (min-width: 1200px) {
  /* line 1662, ../sass/screen.scss */
  .main-menu-scroll .ui.container {
    width: 1127px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* line 1679, ../sass/screen.scss */
.hero-background-about-us {
  height: 100%;
  min-height: 100%;
}
@media (min-width: 1200px) {
  /* line 1679, ../sass/screen.scss */
  .hero-background-about-us {
    min-height: 100vh;
    height: 100vh;
  }
}
/* line 1686, ../sass/screen.scss */
.hero-background-about-us .hero-text-wrap {
  min-height: 461px;
  height: 461px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 1701, ../sass/screen.scss */
.hero-background-about-us .hero-text-wrap h1 {
  max-width: calc(100% - 30px);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.12;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  /* line 1701, ../sass/screen.scss */
  .hero-background-about-us .hero-text-wrap h1 {
    max-width: 853px;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.12;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
}
/* line 1727, ../sass/screen.scss */
.hero-background-about-us .hero-text-wrap p {
  max-width: calc(100% - 50px);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.12;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
}
@media (min-width: 992px) {
  /* line 1727, ../sass/screen.scss */
  .hero-background-about-us .hero-text-wrap p {
    max-width: 750px;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    text-align: center;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  /* line 1686, ../sass/screen.scss */
  .hero-background-about-us .hero-text-wrap {
    min-height: 100vh;
    height: 100vh;
  }
}
