/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* font include*/
/* font include*/
/*colors-included*/
/*colors-included*/
/*font-include*/
/* font-include*/
/* line 37, ../sass/screen.scss */
body, html {
  height: auto !important;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  /* line 44, ../sass/screen.scss */
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 49, ../sass/screen.scss */
  .desktop-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 58, ../sass/screen.scss */
  header .desktop-menu {
    display: none !important;
  }
}
@media (min-width: 992px) {
  /* line 64, ../sass/screen.scss */
  .ui.left.vertical.menu.sidebar.hidden.overlay.visible, .mobile-logo, .mobile-btn {
    display: none !important;
  }
}
/* line 69, ../sass/screen.scss */
.hero-background {
  min-height: 634px;
  width: 100%;
  background-size: cover;
}

@media (min-width: 992px) {
  /* line 77, ../sass/screen.scss */
  .main-slider .owl-carousel .item {
    min-height: 602px;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}

/* line 88, ../sass/screen.scss */
.slider-text-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  /* line 88, ../sass/screen.scss */
  .slider-text-wrap {
    min-height: 602px;
  }
}
/* line 99, ../sass/screen.scss */
.slider-text-wrap h2 {
  color: #589a03;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  display: block;
}
@media (min-width: 992px) {
  /* line 99, ../sass/screen.scss */
  .slider-text-wrap h2 {
    max-width: 789px;
    margin-bottom: 82px;
  }
}
/* line 114, ../sass/screen.scss */
.slider-text-wrap .slider-descript {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 114, ../sass/screen.scss */
  .slider-text-wrap .slider-descript {
    max-width: 745px;
  }
}

/* line 132, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

/* line 140, ../sass/screen.scss */
section.field-data-icons {
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 140, ../sass/screen.scss */
  section.field-data-icons {
    padding: 75px 0;
  }
}
/* line 145, ../sass/screen.scss */
section.field-data-icons .data-field-header {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  text-align: center;
  color: #589a03;
}
@media (min-width: 992px) {
  /* line 145, ../sass/screen.scss */
  section.field-data-icons .data-field-header {
    max-width: 616px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}

/* line 167, ../sass/screen.scss */
.single-data-wrap .single-data-img img {
  margin: 0 auto;
  display: block;
  text-align: center;
}
/* line 174, ../sass/screen.scss */
.single-data-wrap .single-data-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}
/* line 185, ../sass/screen.scss */
.single-data-wrap .single-data-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* line 199, ../sass/screen.scss */
.agritask-for-single img {
  margin-bottom: 25px;
}
/* line 202, ../sass/screen.scss */
.agritask-for-single h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 19px;
}
/* line 214, ../sass/screen.scss */
.agritask-for-single ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* line 228, ../sass/screen.scss */
.agritask-for-wrap .row {
  padding: 0 !important;
}
@media (min-width: 992px) {
  /* line 231, ../sass/screen.scss */
  .agritask-for-wrap .column {
    min-height: 422.8px;
    padding: 74px 0;
  }
}
/* line 236, ../sass/screen.scss */
.agritask-for-wrap .column.light-gray-back {
  background-color: rgba(239, 239, 239, 0.4);
}
/* line 239, ../sass/screen.scss */
.agritask-for-wrap .column.darker-gray-back {
  background: #f2f2f2;
}

@media (min-width: 992px) {
  /* line 245, ../sass/screen.scss */
  .img-with-text {
    padding: 145px 0;
  }
}
@media (max-width: 991px) {
  /* line 245, ../sass/screen.scss */
  .img-with-text {
    padding: 30px 0;
  }
}
/* line 252, ../sass/screen.scss */
.img-with-text .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (max-width: 991px) {
  /* line 252, ../sass/screen.scss */
  .img-with-text .container {
    flex-direction: column;
  }
}
/* line 264, ../sass/screen.scss */
.img-with-text .text-block {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-item-align: center;
  align-self: center;
}
/* line 272, ../sass/screen.scss */
.img-with-text .img-block {
  -ms-flex: 1.7;
  flex: 1.7;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-order: 2;
  order: 2;
  min-height: 464.6px;
  width: 100%;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
}
@media (max-width: 991px) {
  /* line 272, ../sass/screen.scss */
  .img-with-text .img-block {
    min-height: 250px;
  }
}
/* line 288, ../sass/screen.scss */
.img-with-text.left-img {
  background: #f2f2f2;
}
/* line 290, ../sass/screen.scss */
.img-with-text.left-img .text-block {
  -ms-flex-order: 2;
  order: 2;
}
/* line 294, ../sass/screen.scss */
.img-with-text.left-img .img-block {
  -ms-flex-order: 1;
  order: 1;
}
/* line 300, ../sass/screen.scss */
.img-with-text .text-block h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #589a03;
}
/* line 309, ../sass/screen.scss */
.img-with-text .text-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  color: #000;
  margin-top: 27px;
}
/* line 319, ../sass/screen.scss */
.img-with-text .text-block a {
  width: 278px;
  height: 54px;
  border-radius: 2px;
  border: solid 2px #589a03;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #589a03;
  padding: 19px 39px;
  display: block;
  text-transform: uppercase;
  margin-top: 36px;
}

/* line 340, ../sass/screen.scss */
.text-banner {
  min-height: 602px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
/* line 345, ../sass/screen.scss */
.text-banner .text-banner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  min-height: 602px;
}
/* line 354, ../sass/screen.scss */
.text-banner .text-banner-wrap h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  /* line 354, ../sass/screen.scss */
  .text-banner .text-banner-wrap h2 {
    max-width: 824px;
  }
}
/* line 368, ../sass/screen.scss */
.text-banner .text-banner-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: center;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 368, ../sass/screen.scss */
  .text-banner .text-banner-wrap p {
    max-width: 764px;
  }
}

/* line 386, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (max-width: 991px) {
  /* line 386, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap {
    flex-direction: column;
  }
}
/* line 397, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block {
  -ms-flex: 50%;
  flex: 50%;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-order: 1;
  order: 1;
}
/* line 404, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
}
@media (min-width: 992px) {
  /* line 404, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
    max-width: 392px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
/* line 420, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  text-align: center;
  color: #000;
}
@media (min-width: 992px) {
  /* line 420, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
    max-width: 343.8px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
  }
}
/* line 437, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
  display: block;
  width: 278px;
  border-radius: 2px;
  background-color: #ff9600;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  padding: 19px 39px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 437, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
    max-width: 278px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 49px;
  }
}
/* line 461, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
  -ms-flex: 50%;
  flex: 50%;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-order: 2;
  order: 2;
  min-height: 464.6px;
  width: 100%;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
@media (min-width: 992px) {
  /* line 461, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
    min-height: 668px;
  }
}
/* line 480, ../sass/screen.scss */
.teaser-with-text-wrap.left-img .teaser-img-block {
  -ms-flex-order: 1;
  order: 1;
}
/* line 484, ../sass/screen.scss */
.teaser-with-text-wrap.left-img .teaser-text-block {
  -ms-flex-order: 2;
  order: 2;
}

/* line 491, ../sass/screen.scss */
.single-team-user-wrap {
  margin-bottom: 25px;
}
/* line 492, ../sass/screen.scss */
.single-team-user-wrap img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
/* line 499, ../sass/screen.scss */
.single-team-user-wrap h5 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-top: 14px;
}
/* line 512, ../sass/screen.scss */
.single-team-user-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  text-align: center;
  color: #000;
}

@media (min-width: 992px) {
  /* line 525, ../sass/screen.scss */
  .our-team {
    padding: 67px 0;
  }
}
/* line 529, ../sass/screen.scss */
.our-team h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
  display: block;
  margin-bottom: 42px;
}
