/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* font include*/
/* font include*/
/*colors-included*/
/*colors-included*/
/*font-include*/
/* font-include*/
/* line 37, ../sass/screen.scss */
body, html {
  height: auto !important;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  /* line 44, ../sass/screen.scss */
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 49, ../sass/screen.scss */
  .desktop-only {
    display: none !important;
  }
}

@media (max-width: 991px) {
  /* line 58, ../sass/screen.scss */
  header .desktop-menu {
    display: none !important;
  }
}
@media (min-width: 992px) {
  /* line 64, ../sass/screen.scss */
  .ui.left.vertical.menu.sidebar.hidden.overlay.visible, .mobile-logo, .mobile-btn {
    display: none !important;
  }
}
/* line 69, ../sass/screen.scss */
.hero-background {
  min-height: 634px;
  width: 100%;
  background-size: cover;
}
@media (min-width: 1200px) {
  /* line 69, ../sass/screen.scss */
  .hero-background {
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
/* line 77, ../sass/screen.scss */
.hero-background .hero-text-wrap {
  min-height: 634px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1200px) {
  /* line 77, ../sass/screen.scss */
  .hero-background .hero-text-wrap {
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
  }
}
/* line 91, ../sass/screen.scss */
.hero-background .hero-text-wrap h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  /* line 91, ../sass/screen.scss */
  .hero-background .hero-text-wrap h1 {
    max-width: 723px;
  }
}
@media (max-width: 991px) {
  /* line 91, ../sass/screen.scss */
  .hero-background .hero-text-wrap h1 {
    max-width: 396px;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    text-align: center;
    color: #fff;
  }
}
/* line 115, ../sass/screen.scss */
.hero-background .hero-text-wrap .sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  /* line 115, ../sass/screen.scss */
  .hero-background .hero-text-wrap .sub-header {
    max-width: 626px;
  }
}
@media (max-width: 991px) {
  /* line 115, ../sass/screen.scss */
  .hero-background .hero-text-wrap .sub-header {
    max-width: 307px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    text-align: center;
    color: #fff;
  }
}

@media (min-width: 992px) {
  /* line 148, ../sass/screen.scss */
  .main-slider .owl-carousel .item {
    min-height: 602px;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}
@media (max-width: 991px) {
  /* line 148, ../sass/screen.scss */
  .main-slider .owl-carousel .item {
    min-height: 580px;
    padding: 40px 0;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
}
@media (max-width: 991px) {
  /* line 164, ../sass/screen.scss */
  .main-slider .owl-nav {
    display: none;
  }
}

/* line 171, ../sass/screen.scss */
.slider-text-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  /* line 171, ../sass/screen.scss */
  .slider-text-wrap {
    min-height: 602px;
  }
}
@media (max-width: 991px) {
  /* line 171, ../sass/screen.scss */
  .slider-text-wrap {
    min-height: 580px;
  }
}
/* line 186, ../sass/screen.scss */
.slider-text-wrap h2 {
  color: #589a03;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  display: block;
}
@media (min-width: 992px) {
  /* line 186, ../sass/screen.scss */
  .slider-text-wrap h2 {
    max-width: 789px;
    margin-bottom: 82px;
  }
}
@media (max-width: 991px) {
  /* line 186, ../sass/screen.scss */
  .slider-text-wrap h2 {
    max-width: 343px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 37px;
  }
}
/* line 211, ../sass/screen.scss */
.slider-text-wrap .slider-descript {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 211, ../sass/screen.scss */
  .slider-text-wrap .slider-descript {
    max-width: 745px;
  }
}
@media (max-width: 991px) {
  /* line 211, ../sass/screen.scss */
  .slider-text-wrap .slider-descript {
    max-width: 354px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 46px;
  }
}

/* line 240, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

/* line 248, ../sass/screen.scss */
section.field-data-icons {
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 248, ../sass/screen.scss */
  section.field-data-icons {
    padding: 75px 0;
  }
}
@media (max-width: 991px) {
  /* line 248, ../sass/screen.scss */
  section.field-data-icons {
    padding: 41px 0;
  }
}
/* line 256, ../sass/screen.scss */
section.field-data-icons .data-field-header {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  text-align: center;
  color: #589a03;
}
@media (min-width: 992px) {
  /* line 256, ../sass/screen.scss */
  section.field-data-icons .data-field-header {
    max-width: 616px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}
@media (max-width: 991px) {
  /* line 256, ../sass/screen.scss */
  section.field-data-icons .data-field-header {
    max-width: 294px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

/* line 289, ../sass/screen.scss */
.single-data-wrap .single-data-img img {
  margin: 0 auto;
  display: block;
  text-align: center;
  height: 109px;
}
@media (max-width: 639px) {
  /* line 288, ../sass/screen.scss */
  .single-data-wrap .single-data-img {
    float: left;
    width: 25%;
    margin-right: 5%;
  }
  /* line 299, ../sass/screen.scss */
  .single-data-wrap .single-data-img img {
    margin: 0;
    text-align: left;
    width: 110px;
    height: auto;
  }
}
/* line 308, ../sass/screen.scss */
.single-data-wrap .single-data-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 20px;
}
/* line 319, ../sass/screen.scss */
.single-data-wrap .single-data-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 639px) {
  /* line 307, ../sass/screen.scss */
  .single-data-wrap .single-data-text {
    float: left;
    width: 70%;
  }
  /* line 332, ../sass/screen.scss */
  .single-data-wrap .single-data-text h4 {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.5px;
    max-width: 103px;
    text-align: left;
    margin-bottom: 10px;
  }
  /* line 342, ../sass/screen.scss */
  .single-data-wrap .single-data-text p {
    max-width: 231px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: left;
  }
}

/* line 356, ../sass/screen.scss */
.agritask-for-single img {
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  /* line 356, ../sass/screen.scss */
  .agritask-for-single img {
    width: 140px;
    height: auto;
  }
}
/* line 363, ../sass/screen.scss */
.agritask-for-single h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 19px;
}
@media (max-width: 991px) {
  /* line 363, ../sass/screen.scss */
  .agritask-for-single h4 {
    max-width: 441px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 19px;
  }
}
/* line 382, ../sass/screen.scss */
.agritask-for-single ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

/* line 396, ../sass/screen.scss */
.agritask-for-wrap .row {
  padding: 0 !important;
}
@media (min-width: 992px) {
  /* line 399, ../sass/screen.scss */
  .agritask-for-wrap .column {
    min-height: 422.8px;
    padding: 74px 0;
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
}
@media (max-width: 991px) {
  /* line 399, ../sass/screen.scss */
  .agritask-for-wrap .column {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
  }
}
/* line 410, ../sass/screen.scss */
.agritask-for-wrap .column.light-gray-back {
  background-color: rgba(239, 239, 239, 0.4);
}
/* line 413, ../sass/screen.scss */
.agritask-for-wrap .column.darker-gray-back {
  background: #f2f2f2;
}

@media (min-width: 768px) {
  /* line 419, ../sass/screen.scss */
  .img-with-text {
    padding: 145px 0;
  }
}
@media (max-width: 767px) {
  /* line 419, ../sass/screen.scss */
  .img-with-text {
    padding: 30px 0;
  }
}
/* line 426, ../sass/screen.scss */
.img-with-text .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (max-width: 767px) {
  /* line 426, ../sass/screen.scss */
  .img-with-text .container {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* line 439, ../sass/screen.scss */
.img-with-text .text-block {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-order: 1;
  order: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
/* line 448, ../sass/screen.scss */
.img-with-text .img-block {
  -ms-flex: 1.7;
  flex: 1.7;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-order: 2;
  order: 2;
  min-height: 464.6px;
  width: 100%;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
}
@media (max-width: 767px) {
  /* line 448, ../sass/screen.scss */
  .img-with-text .img-block {
    min-height: 250px;
  }
}
/* line 465, ../sass/screen.scss */
.img-with-text.left-img {
  background: #f2f2f2;
}
/* line 467, ../sass/screen.scss */
.img-with-text.left-img .text-block {
  -ms-flex-order: 2;
  order: 2;
}
/* line 471, ../sass/screen.scss */
.img-with-text.left-img .img-block {
  -ms-flex-order: 1;
  order: 1;
}
@media (max-width: 767px) {
  /* line 476, ../sass/screen.scss */
  .img-with-text.left-img .text-block {
    -ms-flex-order: 1;
    order: 1;
  }
  /* line 480, ../sass/screen.scss */
  .img-with-text.left-img .img-block {
    -ms-flex-order: 2;
    order: 2;
  }
}
/* line 488, ../sass/screen.scss */
.img-with-text .text-block h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #589a03;
}
@media (max-width: 767px) {
  /* line 488, ../sass/screen.scss */
  .img-with-text .text-block h3 {
    max-width: 396px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
  }
}
/* line 506, ../sass/screen.scss */
.img-with-text .text-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  color: #000;
  margin-top: 27px;
}
@media (max-width: 767px) {
  /* line 506, ../sass/screen.scss */
  .img-with-text .text-block p {
    max-width: 392px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    text-align: center;
  }
}
/* line 525, ../sass/screen.scss */
.img-with-text .text-block a {
  width: 278px;
  height: 54px;
  border-radius: 2px;
  border: solid 2px #589a03;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #589a03;
  padding: 19px 39px;
  display: block;
  text-transform: uppercase;
  margin-top: 36px;
}
@media (max-width: 767px) {
  /* line 525, ../sass/screen.scss */
  .img-with-text .text-block a {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 50px;
  }
}

/* line 558, ../sass/screen.scss */
.text-banner {
  min-height: 602px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
@media (max-width: 991px) {
  /* line 558, ../sass/screen.scss */
  .text-banner {
    min-height: 479px;
  }
}
/* line 566, ../sass/screen.scss */
.text-banner .text-banner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 602px;
}
@media (max-width: 991px) {
  /* line 566, ../sass/screen.scss */
  .text-banner .text-banner-wrap {
    min-height: 479px;
  }
}
/* line 579, ../sass/screen.scss */
.text-banner .text-banner-wrap h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  /* line 579, ../sass/screen.scss */
  .text-banner .text-banner-wrap h2 {
    max-width: 824px;
  }
}
@media (max-width: 991px) {
  /* line 579, ../sass/screen.scss */
  .text-banner .text-banner-wrap h2 {
    max-width: 368px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
  }
}
/* line 602, ../sass/screen.scss */
.text-banner .text-banner-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: center;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 602, ../sass/screen.scss */
  .text-banner .text-banner-wrap p {
    max-width: 764px;
  }
}

/* line 620, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (max-width: 991px) {
  /* line 620, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
  }
}
/* line 633, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block {
  -ms-flex: 50%;
  flex: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-order: 1;
  order: 1;
}
/* line 641, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
}
@media (min-width: 992px) {
  /* line 641, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
    max-width: 392px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  /* line 641, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block h2 {
    max-width: 392px;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
/* line 669, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  text-align: center;
  color: #000;
}
@media (min-width: 992px) {
  /* line 669, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
    max-width: 343.8px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 37px;
  }
}
@media (max-width: 991px) {
  /* line 669, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block p {
    max-width: 343.8px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
/* line 697, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
  display: block;
  width: 278px;
  border-radius: 2px;
  background-color: #ff9600;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  padding: 19px 39px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 697, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
    max-width: 278px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 49px;
  }
}
@media (max-width: 991px) {
  /* line 697, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-text-block a {
    max-width: 278px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 49px;
  }
}
/* line 728, ../sass/screen.scss */
.teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
  -ms-flex: 50%;
  flex: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex-order: 2;
  order: 2;
  min-height: 464.6px;
  width: 100%;
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
@media (min-width: 992px) {
  /* line 728, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
    min-height: 668px;
  }
}
@media (max-width: 991px) {
  /* line 728, ../sass/screen.scss */
  .teaser-with-text-wrap .teaser-text-flex-wrap .teaser-img-block {
    display: none !important;
  }
}
/* line 750, ../sass/screen.scss */
.teaser-with-text-wrap.left-img .teaser-img-block {
  -ms-flex-order: 1;
  order: 1;
}
/* line 754, ../sass/screen.scss */
.teaser-with-text-wrap.left-img .teaser-text-block {
  -ms-flex-order: 2;
  order: 2;
}
@media (max-width: 991px) {
  /* line 759, ../sass/screen.scss */
  .teaser-with-text-wrap.left-img .teaser-img-block {
    -ms-flex-order: 1;
    order: 2;
  }
  /* line 763, ../sass/screen.scss */
  .teaser-with-text-wrap.left-img .teaser-text-block {
    -ms-flex-order: 2;
    order: 1;
  }
}
@media (min-width: 992px) {
  /* line 771, ../sass/screen.scss */
  .teaser-with-text-wrap.about-us .teaser-text-flex-wrap .teaser-text-block p {
    max-width: 454px;
  }
}

/* line 778, ../sass/screen.scss */
.single-team-user-wrap {
  margin-bottom: 25px;
}
/* line 779, ../sass/screen.scss */
.single-team-user-wrap img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}
/* line 790, ../sass/screen.scss */
.single-team-user-wrap:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.2s ease-in-out;
}
/* line 796, ../sass/screen.scss */
.single-team-user-wrap h5 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-top: 14px;
}
/* line 809, ../sass/screen.scss */
.single-team-user-wrap p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  text-align: center;
  color: #000;
}

@media (min-width: 992px) {
  /* line 822, ../sass/screen.scss */
  .our-team {
    padding: 67px 0;
  }
}
/* line 826, ../sass/screen.scss */
.our-team h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: center;
  color: #589a03;
  display: block;
  margin-bottom: 42px;
}

/* line 842, ../sass/screen.scss */
.agritask-header-outside {
  width: 100%;
  padding: 56px 0;
}
@media (max-width: 991px) {
  /* line 842, ../sass/screen.scss */
  .agritask-header-outside {
    padding: 22px 0;
  }
}
/* line 848, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
@media (min-width: 992px) {
  /* line 848, ../sass/screen.scss */
  .agritask-header-outside .agritask-header-wrapper {
    max-width: 311px;
  }
}
/* line 856, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper .agritask-for-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 865, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper .agritask-for-header img {
  height: 55.5px;
  margin-right: 15px;
  max-width: 100%;
}
@media (max-width: 991px) {
  /* line 865, ../sass/screen.scss */
  .agritask-header-outside .agritask-header-wrapper .agritask-for-header img {
    height: 40.4px;
  }
}
/* line 873, ../sass/screen.scss */
.agritask-header-outside .agritask-header-wrapper .agritask-for-header mark {
  background-color: #fff;
  font-size: 46px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 48px;
  color: #589a03;
}
@media (max-width: 991px) {
  /* line 873, ../sass/screen.scss */
  .agritask-header-outside .agritask-header-wrapper .agritask-for-header mark {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 33px;
    text-align: center;
  }
}

/* line 893, ../sass/screen.scss */
footer {
  background-color: #414141;
  padding: 43px 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  /* line 893, ../sass/screen.scss */
  footer {
    padding: 17px 0;
  }
}
/* line 900, ../sass/screen.scss */
footer .copyright {
  display: block;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.1px;
  text-align: center;
  color: #fff;
  margin-top: 34px;
  font-weight: 300;
}
@media (max-width: 991px) {
  /* line 900, ../sass/screen.scss */
  footer .copyright {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #fff;
    padding-left: .92857143em;
    margin-top: 20px;
    position: relative;
  }
  /* line 924, ../sass/screen.scss */
  footer .copyright:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    border-top: solid 1px #5b5b5b;
    left: -16px;
    top: -16px;
  }
}
/* line 936, ../sass/screen.scss */
footer .sitemap-menu a.item {
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  letter-spacing: 0.9px !important;
  text-align: left !important;
  color: #fff !important;
}
/* line 945, ../sass/screen.scss */
footer .sitemap-menu a.item:hover {
  background: transparent !important;
}
@media (max-width: 991px) {
  /* line 935, ../sass/screen.scss */
  footer .sitemap-menu {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 952, ../sass/screen.scss */
  footer .sitemap-menu a.item {
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    text-align: left !important;
    color: #fff !important;
    -webkit-align-self: flex-start !important;
    -ms-flex-item-align: flex-start !important;
    align-self: flex-start !important;
    position: relative;
  }
  /* line 963, ../sass/screen.scss */
  footer .sitemap-menu a.item:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    border-bottom: solid 1px #5b5b5b;
    left: -16px;
    bottom: 0px;
  }
  /* line 973, ../sass/screen.scss */
  footer .sitemap-menu div.right.menu {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0 !important;
  }
}

@media (max-width: 991px) {
  /* line 982, ../sass/screen.scss */
  footer .ui.menu:not(.vertical) .right.menu {
    margin-left: 0 !important;
  }
  /* line 986, ../sass/screen.scss */
  footer .ui.menu:not(.vertical) .right.menu a.item:after {
    width: 0;
    height: 0;
  }
}

/* line 995, ../sass/screen.scss */
.main-menu {
  margin-top: 0 !important;
  position: fixed;
  width: 100%;
}
/* line 999, ../sass/screen.scss */
.main-menu a.item {
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  letter-spacing: 0.9px !important;
  text-align: left !important;
  color: #fff !important;
  text-transform: uppercase !important;
}
/* line 1011, ../sass/screen.scss */
.main-menu .logo a {
  display: block;
  overflow: hidden;
}
/* line 1014, ../sass/screen.scss */
.main-menu .logo a img {
  max-width: 100%;
  width: 125px;
  height: auto;
}

/* line 1023, ../sass/screen.scss */
.slider-user-comment-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}
@media screen and (max-width: 992px) {
  /* line 1023, ../sass/screen.scss */
  .slider-user-comment-wrap {
    margin-bottom: 58px;
  }
}
/* line 1037, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user {
  margin-right: 23px;
}
@media screen and (max-width: 992px) {
  /* line 1037, ../sass/screen.scss */
  .slider-user-comment-wrap .slider-user {
    margin-right: 16px;
  }
  /* line 1041, ../sass/screen.scss */
  .slider-user-comment-wrap .slider-user img {
    width: 55px;
    height: 55px;
  }
}
/* line 1047, ../sass/screen.scss */
.slider-user-comment-wrap .slider-user-comment {
  color: #fff;
  text-align: left;
}
/* line 1051, ../sass/screen.scss */
.slider-user-comment-wrap h5 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
/* line 1058, ../sass/screen.scss */
.slider-user-comment-wrap p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 24px;
}

/* line 1067, ../sass/screen.scss */
.owl-nav .owl-prev {
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -20.5px;
}
/* line 1073, ../sass/screen.scss */
.owl-nav .owl-prev:after {
  content: '';
  position: absolute;
  background-image: url("../images/arrow_left.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 21px;
  height: 41px;
}
/* line 1086, ../sass/screen.scss */
.owl-nav .owl-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-top: -20.5px;
}
/* line 1092, ../sass/screen.scss */
.owl-nav .owl-next:after {
  content: '';
  position: absolute;
  background-image: url("../images/arrow_right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 21px;
  height: 41px;
}

/* line 1107, ../sass/screen.scss */
.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #589a03;
}

/* line 1110, ../sass/screen.scss */
.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 54.3px;
  margin-left: -40.03px;
}
@media screen and (max-width: 992px) {
  /* line 1110, ../sass/screen.scss */
  .owl-dots {
    left: 50%;
    margin-left: -67.5px;
  }
}

/* line 1120, ../sass/screen.scss */
.owl-dots .owl-dot span {
  width: 12.7px;
  height: 12.7px;
  margin: 5px 19px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  /* line 1120, ../sass/screen.scss */
  .owl-dots .owl-dot span {
    margin: 0 auto;
  }
}

/* line 1135, ../sass/screen.scss */
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
@media screen and (max-width: 991px) {
  /* line 1135, ../sass/screen.scss */
  .owl-dots .owl-dot {
    width: 45px;
  }
}

/* line 1143, ../sass/screen.scss */
.pushable-scroll {
  -webkit-transform: initial !important;
  transform: initial !important;
}

/* line 1148, ../sass/screen.scss */
.scroll-logo {
  display: none;
}

/* line 1152, ../sass/screen.scss */
.main-menu {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin: 0 !important;
  width: 100%;
}

/* line 1162, ../sass/screen.scss */
.main-menu-scroll {
  background: white !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 9999;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 !important;
}
/* line 1174, ../sass/screen.scss */
.main-menu-scroll a.item {
  color: #7a7a7a !important;
}
/* line 1178, ../sass/screen.scss */
.main-menu-scroll .logo img {
  display: none;
}
/* line 1180, ../sass/screen.scss */
.main-menu-scroll .logo img.scroll-logo {
  display: block;
}

/* line 1188, ../sass/screen.scss */
.slide-bottom {
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  /* line 1188, ../sass/screen.scss */
  .slide-bottom {
    display: none;
  }
}

@media (max-width: 991px) {
  /* line 1198, ../sass/screen.scss */
  .mobile-logo {
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 30px;
  }
  /* line 1204, ../sass/screen.scss */
  .mobile-logo img {
    width: 124px;
    height: auto;
  }
}

@media (max-width: 991px) {
  /* line 1211, ../sass/screen.scss */
  header {
    padding: 16px 0;
    overflow: hidden;
    position: relative;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    background: #fff;
  }
}

@media (max-width: 991px) {
  /* line 1225, ../sass/screen.scss */
  .mobile-btn {
    display: block;
    height: 16px;
    width: 32px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -16px;
  }
  /* line 1234, ../sass/screen.scss */
  .mobile-btn i {
    font-size: 30px;
    color: #8b8c8c;
  }
}

/* line 1253, ../sass/screen.scss */
.hero-btn-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 992px) {
  /* line 1253, ../sass/screen.scss */
  .hero-btn-wrap {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) and (max-width: 992px) {
  /* line 1253, ../sass/screen.scss */
  .hero-btn-wrap {
    width: 329.9px;
    height: auto;
  }
}

/* line 1266, ../sass/screen.scss */
.hero-btn-wrap .standart-btn {
  width: 178.5px;
  height: 54px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 19px 30.5px 18px 30px;
  border: solid 2px rgba(255, 255, 255, 0.79);
  border-radius: 3px;
  color: #fff;
}
/* line 1279, ../sass/screen.scss */
.hero-btn-wrap .standart-btn:first-child {
  margin-right: 18px;
}
@media screen and (max-width: 992px) {
  /* line 1266, ../sass/screen.scss */
  .hero-btn-wrap .standart-btn {
    width: 100%;
    height: auto;
    padding: 20.7px 55.7px 19.7px 56.2px;
    text-align: center;
  }
  /* line 1287, ../sass/screen.scss */
  .hero-btn-wrap .standart-btn:first-child {
    margin-right: 0;
    margin-top: 22.7px;
    width: 100%;
    height: auto;
    padding: 20.7px 80px 19.7px 79px;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/* line 1299, ../sass/screen.scss */
.hero-btn-wrap .active {
  width: 278px;
  height: 54px;
  padding: 19px 66px 18px 68px;
  background-color: #ff9600;
  border: solid 2px #ff9600;
}
