/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";


  /* font include*/
  @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  /* font include*/

    /*colors-included*/

    $orange: #ff9600;
    $white: #fff;
    $black: #000;
    $green: #589a03;
    $gray: #4a4a4a;
    $light-gray: #f2f2f2;
    $dark: #414141;
    $light-opacity-gray: rgba(239, 239, 239, 0.4);

        /*colors-included*/

/*font-include*/
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

/* font-include*/



body, html {
  height: auto!important;
  font-family: $lato;
  font-family: $opensans;
  font-family: $roboto;
}

.mobile-only{
 @media (min-width: 992px){
  display: none !important;
}
}
.desktop-only{
  @media (max-width: 991px){
    display: none !important;
  }
}


@media (max-width: 991px){
  header{
    .desktop-menu{
      display: none!important;
    }
  }
}
@media (min-width: 992px){
  .ui.left.vertical.menu.sidebar.hidden.overlay.visible,.mobile-logo,.mobile-btn{
    display: none!important;
  }
}

.hero-background{
  min-height: 634px;
  width: 100%;
  background-size: cover;
}

.main-slider{
  .owl-carousel{
    .item{
      @media (min-width: 992px){
        min-height: 602px;
        background-position: 0px 0px, 50% 50%;
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
      }
    }
  }
}

.slider-text-wrap{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  @media (min-width: 992px){
    min-height: 602px;
  }
  h2{
    color: $green;
    font-size: 46px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: center;
    font-family: $opensans;
    display: block;
    @media (min-width: 992px){
      max-width: 789px;
      margin-bottom: 82px;
    }
  }
  .slider-descript{
    font-family: $opensans;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: center;
    color: $white;
    @media (min-width: 992px){
      max-width: 745px;
    }
  }
}

.slider-user-comment-wrap{
  .slider-user{
    img{
      width: 73px;
      height: 73px;
      border-radius: 50%;
    }
  }
}

section.field-data-icons{
  overflow: hidden;
  @media (min-width: 992px){
    padding: 75px 0;
  }
  .data-field-header{
    font-family: $opensans;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    text-align: center;
    color: $green;
    @media (min-width: 992px){
      max-width: 616px;
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 55px;

    }
  }
}

.single-data-wrap{
  .single-data-img{
    img{
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }
  .single-data-text{
    h4{
      font-family: $roboto;
      font-size: 22px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.5px;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 20px;
    }
    p{
      font-family: $opensans;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.agritask-for-single{
  img{
    margin-bottom: 25px;
  }
  h4{
    font-family: $roboto;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: $gray;
    margin-bottom: 19px;
  }
  ul{
    li{
      font-family: $opensans;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.agritask-for-wrap{
  .row{
    padding: 0 !important;
  }
  .column{
    @media (min-width: 992px){
      min-height: 422.8px;
      padding: 74px 0;
    }
    &.light-gray-back{
      background-color: rgba(239, 239, 239, 0.4);
    }
    &.darker-gray-back{
      background: $light-gray;
    }
  }
}

.img-with-text{
  @media (min-width: 992px){
    padding: 145px 0;
  }
  @media (max-width: 991px){
    padding: 30px 0;
  }
  .container{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    @media (max-width: 991px){
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  .text-block{
    -ms-flex: 1;
    flex: 1;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .img-block{
    -ms-flex: 1.7;
    flex: 1.7;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-flex-order: 2;
    order: 2;
    min-height: 464.6px;
    width: 100%;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, contain;
    background-repeat: repeat, no-repeat;
    @media (max-width: 991px){
      min-height: 250px;
    }
  }
  &.left-img{
    background: $light-gray;
    .text-block{
      -ms-flex-order: 2;
      order: 2;
    }
    .img-block{
      -ms-flex-order: 1;
      order: 1;
    }
  }
  .text-block{
    h3{
      font-family: $opensans;
      font-size: 46px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      color: $green;
    }
    p{
      font-family: $opensans;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.7;
      color: $black;
      margin-top: 27px;
    }
    a{
      width: 278px;
      height: 54px;
      border-radius: 2px;
      border: solid 2px $green;
      font-family: $lato;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.9px;
      text-align: center;
      color: $green;
      padding: 19px 39px;
      display: block;
      text-transform: uppercase;
      margin-top: 36px;
    }
  }
}

.text-banner{
  min-height: 602px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  .text-banner-wrap{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 602px;
    h2{
      font-family: $opensans;
      font-size: 46px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      text-align: center;
      color: $green;
      margin-bottom: 25px;
      @media (min-width: 992px){
        max-width: 824px;
      }
    }
    p{
      font-family: $opensans;
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.6px;
      text-align: center;
      color: $white;
      @media (min-width: 992px){
        max-width: 764px;
      }
    }
  }
}

.teaser-with-text-wrap{
  .teaser-text-flex-wrap{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    @media (max-width: 991px){
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .teaser-text-block{
      -ms-flex: 50%;
      flex: 50%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-flex-order: 1;
      order: 1;
      h2{
        font-family: $opensans;
        font-size: 46px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        text-align: center;
        color: #589a03;
        @media (min-width: 992px){
          max-width: 392px;
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }
      p{
        @media (min-width: 992px){
          max-width: 343.8px;
          display: block;
          text-align: center;
          margin: 0 auto;
          margin-top: 37px;
        }
        font-family: $opensans;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.7;
        text-align: center;
        color: $black;
      }
      a{
        display: block;
        width: 278px;
        border-radius: 2px;
        background-color: #ff9600;
        font-family: $lato;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.9px;
        text-align: center;
        color: $white;
        padding: 19px 39px;
        text-transform: uppercase;
        @media (min-width: 992px){
          max-width: 278px;
          display: block;
          text-align: center;
          margin: 0 auto;
          margin-top: 49px;
        }
      }
    }
    .teaser-img-block{
      -ms-flex: 50%;
      flex: 50%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-flex-order: 2;
      order: 2;
      min-height: 464.6px;
      width: 100%;
      background-position: 0px 0px, 100% 50%;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      @media (min-width: 992px){
        min-height: 668px;

      }
    }
  }
  &.left-img{
    .teaser-img-block{
      -ms-flex-order: 1;
      order: 1;
    }
    .teaser-text-block{
      -ms-flex-order: 2;
      order: 2;
    }
  }
}

.single-team-user-wrap{
  img{
   width: 170px;
   height: 170px;
   border-radius: 50%;
   margin: 0 auto;
   text-align: center;
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 &:hover{
  img{
   -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
}
h5{
  font-family: $lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #7a7a7a;;
  margin-bottom: 4px;
  text-transform: uppercase;
  margin-top: 14px;
}
p{
  font-family: $opensans;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  text-align: center;
  color: $black;
}
margin-bottom: 25px;
}

.our-team{
  @media (min-width: 992px){
    padding: 67px 0;
  }
  h2{
    font-family:  $opensans;
    font-size: 46px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: center;
    color: $green;
    display: block;
    margin-bottom: 42px;
  }
}



.agritask-header-outside{
  width:100%;
  padding:56px 0;
  .agritask-header-wrapper{
    display:block;
    margin:0 auto;
    text-align:center;
    max-width: 100%;
    @media (min-width: 992px){
      max-width:311px;
    }
    .agritask-for-header{
      display:-webkit-flex;
      display:-ms-flexbox;
      display:flex;
      -webkit-flex-direction:row;
      -ms-flex-direction:row;
      flex-direction:row;
      -webkit-flex-wrap:nowrap;
      -ms-flex-wrap:nowrap;
      flex-wrap:nowrap;
      -webkit-justify-content:center;
      -ms-flex-pack:center;
      justify-content:center;
      img{
        height:55.5px;
        margin-right:15px;
        max-width: 100%;
      }
      mark{
        background-color: $white;
        font-size:46px;
        font-family:$opensans;
        font-weight:300;
        line-height:48px;
        color: $green;
      }
    }
  }
}